*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  color: #1755e7;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}

.white-block-left {
  bottom: -2px;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-block-right {
  top: -2px;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

@media (min-width: 776px) {
  .white-block {
    height: 50px;
    width: 40%;
  }
}

.button-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.button-special-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.button-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}

@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../../img/header-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}

.header__heading {
  margin-bottom: 0.3em;
  font-size: 4.5rem;
  font-weight: 300;
  font-family: 'Dancing Script', cursive;
}

.header__text {
  margin-bottom: 1.5em;
  font-size: 1.5rem;
}

.header__button {
  padding: 0.5em 1em;
  background-color: #fff;
  border-radius: 8px;
  font-size: 1.5rem;
  color: #2e2e2e;
  text-transform: uppercase;
  text-decoration: none;
}

.header__button::before {
  background-color: #eee;
}

@media (min-width: 576px) {
  .header__heading {
    font-size: 5.3rem;
  }
  .header__text {
    font-size: 1.7rem;
  }
  .header__button {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .header__heading {
    font-size: 5.5rem;
  }
  .header__text {
    font-size: 1.8rem;
  }
  .header__button {
    font-size: 1.7rem;
  }
}

@media (min-width: 992px) {
  .header {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../../img/header-big.jpg");
  }
  .header__heading {
    font-size: 7rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__button {
    font-size: 1.8rem;
  }
}

.navigation__burger {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  border: 1px solid transparent;
  background: none;
  z-index: 1000;
  cursor: pointer;
}

.navigation__burger:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.navigation__burger:hover .navigation__burger-box-bars::after,
.navigation__burger:hover .navigation__burger-box-bars::before {
  width: 100%;
}

.navigation__burger-box {
  position: relative;
  width: 40px;
  height: 30px;
}

.navigation__burger-box-bars, .navigation__burger-box-bars::after, .navigation__burger-box-bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: '';
  background-color: #fff;
  -webkit-transition: width, 0.3s;
  transition: width, 0.3s;
}

.navigation__burger-box-bars {
  width: 100%;
}

.navigation__burger-box-bars::after {
  top: 13px;
  width: 60%;
}

.navigation__burger-box-bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.navigation__items {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: linear-gradient(45deg, #1469f1, #2a0ab8);
  z-index: 100;
}

.navigation__items--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navigation__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
}

.navigation__item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.navigation__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@media (min-width: 992px) {
  .navigation__burger {
    top: 50px;
    right: 50px;
  }
  .navigation__item {
    font-size: 4.8rem;
  }
}

.dreams__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.dreams__box-image {
  width: 100%;
}

.dreams__box-title {
  margin: 0.5em 0;
  font-size: 1.5rem;
}

.dreams__box-text {
  font-size: 1.4rem;
}

@media (min-width: 576px) {
  .dreams__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dreams__box-picture {
    width: 40%;
  }
  .dreams__box-picture--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .dreams__box-info {
    margin: 0 2em;
    width: 55%;
  }
  .dreams__box-info--right {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .dreams__box-title {
    font-size: 2rem;
  }
  .dreams__box-text {
    font-size: 1.5rem;
  }
  .dreams__box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  .dreams__box-title {
    font-size: 2.5rem;
  }
  .dreams__box-text {
    font-size: 1.8rem;
  }
}

.hero {
  position: relative;
  padding: 15em 2em;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../../img/hero-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero__heading {
  margin-bottom: 0.5em;
  font-weight: 300;
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
}

.hero__line {
  margin: 1em;
  color: #fff;
}

.hero__text {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .hero {
    padding: 18em 2em;
  }
  .hero__heading {
    font-size: 6rem;
  }
  .hero__text {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 20em 2em;
  }
  .hero__heading {
    font-size: 7rem;
  }
  .hero__text {
    font-size: 2rem;
  }
  .hero__line {
    margin: 1em auto;
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .hero {
    padding: 25em 2em;
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../../img/hero-big.jpg");
  }
  .hero__heading {
    font-size: 8rem;
  }
  .hero__text {
    font-size: 2.2rem;
  }
}

.islands__card {
  position: relative;
  height: 450px;
  margin: 2em 0;
  color: #fff;
  text-align: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.islands__card:hover .islands__card-img {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 0;
}

.islands__card:hover .islands__card-info {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
}

.islands__card-img {
  height: 100%;
  padding: 2em;
  border-radius: 8px;
  background-size: cover;
  background-position: cover;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.islands__card-img--first {
  background-image: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75)), url("../img/island1.jpg");
}

.islands__card-img--second {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../img/island2.jpg");
}

.islands__card-img--third {
  background-image: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75)), url("../img/island3.jpg");
}

.islands__card-img-title {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}

.islands__card-img-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.8rem;
}

.islands__card-img-text i {
  margin-right: 0.5em;
}

.islands__card-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-image: radial-gradient(circle at top right, #004eff 0%, #00d4ff 100%);
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.islands__card-info-title {
  position: absolute;
  top: 25px;
  font-size: 2.8rem;
  font-family: 'Dancing Script', cursive;
}

.islands__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}

.islands__card-info-list-item {
  padding: 1em;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
}

.islands__card-info-list-item:last-child {
  border-bottom: none;
}

.islands__card-info-button {
  position: absolute;
  bottom: 50px;
  width: 70%;
  padding: 0.6em 1.2em;
  font-size: 1.4rem;
  border: none;
  background-color: #00ffaa;
}

.islands__card-info-button::before {
  background-color: #0fe29c;
}

@media (min-width: 768px) {
  .islands__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .islands__card {
    margin: 1em;
    width: 45%;
  }
}

@media (min-width: 992px) {
  .islands__card {
    width: 30%;
  }
}

.offers {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.75), rgba(42, 10, 184, 0.75)), url("../../img/offer-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.offers .section-heading {
  color: #fff;
}

.offers__card {
  margin: 1em 0;
  -webkit-box-shadow: 5px 5px 10px #2e2e2e;
          box-shadow: 5px 5px 10px #2e2e2e;
  background-color: #fff;
}

.offers__card-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.offers__card-info {
  padding: 2em;
  background-color: #fff;
}

.offers__card-info-title {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}

.offers__card-info-text {
  margin: 0.5em;
  font-size: 1.3rem;
}

.offers__card-info-button {
  width: 100%;
  margin-top: 1em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #1755e7;
}
/*# sourceMappingURL=style.css.map */