.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin-bottom: 2em;
		&-image {
			width: 100%;
		}
		&-title {
			margin: 0.5em 0;
			font-size: 1.5rem;
		}
		&-text {
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 576px) {
	.dreams {
		&__box {
			flex-direction: row;
			justify-content: center;
			&-picture {
				width: 40%;
				&--right {
					order: 1;
				}
			}
			&-info {
				margin: 0 2em;
				width: 55%;
				&--right {
					text-align: right;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.dreams {
		&__box {
			&-title {
				font-size: 2rem;
			}
			&-text {
				font-size: 1.5rem;
			}
			&-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

@media (min-width: 992px) {
	.dreams {
		&__box {
			&-title {
				font-size: 2.5rem;
			}
			&-text {
				font-size: 1.8rem;
			}
		}
	}
}
