.footer {
	background-color: $dark;
	&__box {
		padding: 4em 2em;
		color: $pure-white;
		&-title {
			font-size: 2.5rem;
		}
		&-desktop {
			display: none;
		}
		&-text {
			margin: 1em 0;
			font-size: 1.4rem;
		}
		&-link {
			&-icon {
				margin-right: 0.5em;
				font-size: 4rem;
				color: $pure-white;
			}
		}
	}
	&__bottom-text {
		padding: 1em;
		text-align: center;
		font-size: 1.4rem;
		color: $pure-white;
	}
}

@media (min-width: 768px) {
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box {
			margin: 0 auto;
			&:first-child {
				width: 50%;
			}
			&-desktop {
				display: block;
			}
			&-list {
				margin-top: 1em;
				list-style: none;
				&-link {
					margin: 0.5em;
					font-size: 1.5rem;
					text-decoration: none;
					color: $pure-white;
				}
			}
		}
	}
}
