.footer {
	background-color: $dark;
	&__box {
		padding: 4em 2em;
		color: $pure-white;
		&-title {
			font-size: 2.5rem;
		}
		&-desktop {
			display: none;
		}
		&-text {
			margin: 1em 0;
			font-size: 1.4rem;
		}
		&-link {
			&-icon {
				margin-right: 0.5em;
				font-size: 3rem;
				color: $pure-white;
			}
		}
	}
	&__bottom-text {
		padding: 1em;
		text-align: center;
		font-size: 1.4rem;
		color: $pure-white;
	}
}
