.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: $pure-white;
	@include heroImages('../img/header-mini.jpg');
	background-attachment: scroll;
	&__heading {
		margin-bottom: 0.3em;
		font-size: 3.7rem;
		font-weight: 300;
		font-family: 'Dancing Script', cursive;
	}
	&__text {
		margin-bottom: 1.5em;
		font-size: 1.4rem;
	}
	&__button {
		padding: 0.5em 1em;
		background-color: $pure-white;
		border-radius: 8px;
		font-size: 1.4rem;
		color: $dark;
		text-transform: uppercase;
		text-decoration: none;
		&::before {
			background-color: $secondary-color;
		}
	}
}

@media (min-width: 576px) {
	.header {
		&__heading {
			font-size: 5.3rem;
		}
		&__text {
			font-size: 1.7rem;
		}
		&__button {
			font-size: 1.6rem;
		}
	}
}
