.hero {
	position: relative;
	padding: 15em 2em;
	overflow: hidden;
	text-align: center;
	color: $pure-white;
	@include heroImages('../img/hero-mini.jpg');
	&__heading {
		margin-bottom: 0.5em;
		font-weight: 300;
		font-size: 4rem;
		font-family: 'Dancing Script', cursive;
	}
	&__line {
		margin: 1em;
		color: $pure-white;
	}
	&__text {
		font-size: 1.5rem;
	}
}

@media (min-width: 576px) {
	.hero {
		padding: 18em 2em;
		&__heading {
			font-size: 6rem;
		}
		&__text {
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 768px) {
	.hero {
		padding: 20em 2em;
		&__heading {
			font-size: 7rem;
		}
		&__text {
			font-size: 2rem;
		}
		&__line {
			margin: 1em auto;
			max-width: 60%;
		}
	}
}

@media (min-width: 992px) {
	.hero {
		padding: 25em 2em;
		background-image: $blue-gradient, url('../img/hero-big.jpg');
		&__heading {
			font-size: 8rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
}
