.islands {
	&__card {
		position: relative;
		height: 450px;
		margin: 2em 0;
		color: $pure-white;
		text-align: center;
		perspective: 1000px;
		&-img {
			height: 100%;
			padding: 2em;
			&--first {
				background-image: $light-blue-gradient, url('../img/island1.jpg');
			}

			&--second {
				background-image: $blue-gradient, url('../img/island2.jpg');
			}

			&--third {
				background-image: $purple-gradient, url('../img/island3.jpg');
			}
			&-title {
				font-size: 3rem;
				font-family: 'Dancing Script', cursive;
			}
			&-text {
				position: absolute;
				bottom: 20px;
				right: 20px;
				font-size: 1.8rem;
				i {
					margin-right: 0.5em;
				}
			}
		}
	}
}
